{% extends "base.html" %}

{% block content %}
<style>
a.nubex {
color: #fff;
user-select: none; /* Убираем текстовое выделение */
text-decoration: none;	/* Убираем подчеркивание */
outline: none; /* Убираем контур вокруг ссылки */
background-color: #fa8e47; /* Цвет фона */
padding: 1em 2em; /* Отступ от текста до рамки */
}
a.nubex:active {
background-color: #ee6206; /* Цвет кнопки при нажатии */
}
a.nubex:hover {
background-color: #f97f2e; /* Цвет кнопки при наведении курсора */
}
 </style>
<h1>Попробуйте отгадать город по фото</h1>
<img src="static/img/ygadayka1.png">
<h2>Перед началом прочитайте инструкцию</h2>
<a href="http://127.0.0.1:5000/instruction" class="nubex">Инструкция</a>
{% endblock %}